body{
    font-family: Arial, sans-serif;
}


/* Меню */
nav{
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    background: #945968;
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
.menu{
    float: left;   
}
 .menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 15px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
    
}
li::before{
    content: "";
}
li::after{
   content: ""; 
}

li::after{
    display: block;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: #945968;
    transition: all 0.3s;
      
}
li:hover::after{
   transform: scaleX(1)
}
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
    
}
.menu li a:visited{
    color: white;
    
}
.menu li a:hover{
    color: #79818d;
    transform: scale(1.1)
}

@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}





/* Главная */


main{
    width: 100%;
    height: 900px;
    
    background:  url(../img/%D1%84%D0%BE%D0%BD.png) center 100%/auto round fixed ;
   
     
  
    
}

.title_container{
    float: left;
    margin: 330px 0px 0px 0px;
    color: #945968;
    text-align: center;
    opacity: 0;
    -webkit-animation: title_container 1s ease forwards;
    -o-animation: title_container 1s ease forwards;
    animation: title_container 1s ease forwards;
    -webkit-animation-delay: 2.5s  ;
    -o-animation-delay: 2.5s ;
    animation-delay: 2.5s ;   
    
}
.title_container h1{
    font-size: 60px;
    font-weight: bold;
    font-family:"Open Sans", sans-serif;
}
.title_container h4{
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #79818d;
}
.title_container input{
    margin-top: 40px;
    margin-right: 30px;
    height: 40px;
    text-align: center;
    border: 2px solid #79818d;
    background: none;
    border-radius: 5px;
    color: #79818d;
    padding: 0px 15px;
   
}


.title_container input{
    transition: all 0.2s;
    transform: scale(1);
}
.title_container input:hover{
    background: #945968;
    color: white;
     transform: scale(1.1);
}


@keyframes title_container{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/* Обо мне */

.main1{
    
    text-align: center;
    background: url(../img/%D1%84%D0%BE%D0%BD%20%D1%81%D1%82%D0%B5%D0%BD%D1%8B.jpeg);
    background-position: center;
    background-size: 100% auto ; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
.main1 h2{
   
    padding-top: 100px;
    color: #945968;
    font-size: 60px;
    text-align: center;
    margin-bottom: 100px;
    
}
/*
.main1 h2::before{
    content: "";
}
.main1 h2::after{
   content: ""; 
}

.main1 h2::after{
    
    
    display:block;  
    height: 2px;
    transform: scaleX(1);
    background-color: #945968;
    
      
}
*/

.main1 img{
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.main1 p{
    color: #79818d;
    font-size: 20px; 
    
}
.main1 input{
    margin-top: 40px;
    margin-right: 30px;
    height: 40px;
    text-align: center;
    border: 2px solid #79818d;
    background: none;
    border-radius: 5px;
    color: #79818d;
    padding: 0px 15px;
    margin-bottom: 60px;
}
.main1 input{
    transition: all 0.2s;
    transform: scale(1);
}
.main1 input:hover{
    background: #945968;
    color: white;
     transform: scale(1.1);
}











/* Что я умею*/

.main2{
    
    width: 100%;
    height: 600px;
    background: url(../img/%D1%84%D0%BE%D0%BD%20%D0%B4%D0%BB%D1%8F%20%D1%87%D1%82%D0%BE%20%D1%8F%20%D1%83%D0%BC%D0%B5%D1%8E%20.jpg);
    background-position: center;
    background-size: 100% auto ; 
    background-repeat: round; 
    background-attachment: fixed; 
}
.main2 h2{ 
    padding-top: 200px;
    padding-top: 100px;
    width: 100%;
    text-align: center;
    color: #945968;
    font-size: 60px;
    margin-bottom: 100px;
}
.item_skills{
   text-align: center; 
   float: left;
   transform: matrix(1, 0, 0, 1, 0, 0);
   
    
}
.item_skills:hover{
    transform:matrix(1.5, 0, 0, 1.5, 0, 0); 
    transition-duration: 0.5s; 
}


.R1{
   padding-top: 10px; 
}
.R2{
   padding-top: 10px; 
}
.R3{
   padding-top: 10px; 
}

.main2 h4{
    
    margin-top: 40px;
    font-size: 25px;
    color: #d2883e;   
}
.main2 p{
    
    margin-top: 20px;
    font-size: 10px;
    color: #79818d;
}










/* Кейсы*/


.main3{
    
    text-align: center;
    width: 100%;
    background: url(../img/%D1%84%D0%BE%D0%BD%20%D1%81%D1%82%D0%B5%D0%BD%D1%8B.jpeg);
    background-position: center;
    background-size: 100% auto ; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
.main3 h2{
    padding-top: 100px;
     width: 100%;
    text-align: center;
    color: #945968;
    font-size: 60px;
}
.main3 p{
    margin-top: 20px;
    color: #79818d;
    padding-bottom: 40px;
}






/* Расчетная стоимость*/


.main4{
    width: 100%;
    background: url(../img/%D1%84%D0%BE%D0%BD%20%D1%81%D1%82%D0%B5%D0%BD%D1%8B.jpeg);
    background-position: center;
    background-size: 100% auto ; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    
}
.main4 h2{
    padding-top: 200px;
    padding-bottom: 100px;
    color: #945968;
    font-size: 60px;
    text-align: center;
}
.col-8{
    padding-bottom: 30px;
}
.main4 h6{
    color: #263244;
    font-size: 30px;
   
    margin-top: 70px;
    
}
.main4 input{
   
    margin-top: 40px;
    height: 40px;
    text-align: center;
    border: 2px solid #79818d;
    background: none;
    border-radius: 5px;
    color: #79818d;
    padding: 0px 15px;
    margin-bottom: 60px;
    
}
.main4 input{
    transition: all 0.2s;
    transform: scale(1);
}
.main4 input:hover{
    background: #945968;
    color: white;
     transform: scale(1.1);
}








/* Немного статистики*/

.main5{
    
    width: 100%;
    height: 500px;
    background: url(../img/%D0%A4%D0%BE%D0%BD%20%D0%B4%D0%BB%D1%8F%20%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B8.png);
    background-position: center;
    background-size: 100% auto ; 
    background-repeat: round; 
    background-attachment: fixed; 
   
}

.main5 h2{
    
    padding-top: 100px;
    color: #945968;
    font-size: 60px;
    text-align: center;
}

.St{
    
    margin-top: 110px;
   
    float: left;
    text-align: center;
    text-transform: uppercase;
    transform: scale3d(1,1,1)
}

.St:hover{
    transition-duration: 0.5s;
        transform: scale3d(1.5,1.5,2)
}


/* Отзовы */

.main6{
    width: 100%;
   
    background: url(../img/%D1%84%D0%BE%D0%BD%20%D1%81%D1%82%D0%B5%D0%BD%D1%8B.jpeg);
    background-position: center;
    background-size: 100% auto ; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
.main6 h2{
    padding-top: 150px; 
    color: #945968;
    font-size: 60px;
    text-align: center;
}
.responses{
    text-align: center;
    color: #79818d;
    font-size: 20px; 
    padding-bottom: 100px;
}








/* Мои контакты */




.My{
    width: 100%;
    height: 800px;
    background: url(../img/%D1%84%D0%BE%D0%BD%20%D0%B4%D0%BB%D1%8F%20%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D0%BE%D0%B2.jpg);
    background-position: center;
    background-size: 100% auto ; 
    background-repeat: round; 
    background-attachment: fixed; 
}


.main7{
     width: 100%; 
}
.main7 h2{
  padding-top: 100px;
    color: #945968;
    font-size: 60px;
    text-align: center;
}
.main7 p{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: #79818d;
    font-size: 20px; 
}
.main7 h4{
    margin-top: 15px;
}

.number {
    margin-top: 50px;
    float: left;
    text-align: center;
    text-transform: uppercase;
    
    
}


.main8{
     margin-top: 50px;
     
       
}

.main8 h3{
    color: #945968;
    font-size: 30px;
    text-align: center;
}


.in1{
   float: left;   
   margin-top: 25px;
   border: 2px solid #79818d;
   border-radius: 5px;
   padding: 5px 5px 5px 5px;
   
        
   
}
.in2{
   float: left; 
   margin-top: 25px;
   border: 2px solid #79818d;
   border-radius: 5px;
   padding: 5px 5px 5px 5px;
   
}
.in3{

   float: left; 
   margin-top: 25px;
   border: 2px solid #79818d;
   border-radius: 5px;
   padding: 5px 5px 5px 5px;
}

.in4 input{
   float: left; 
   margin-top: 25px;
   border: 2px solid #79818d;
   border-radius: 5px;
   padding: 5px 5px 5px 5px;  
   background: fon;
  
}
.in4{
    justify-content: center;
}
.in4 input{
    transition: all 0.2s;
    transform: scale(1);
}
.in4 input:hover{
    background: #945968;
    color: white;
     transform: scale(1.1);
}












































